.App {
  background: url('./assets/background.gif') no-repeat center center fixed;
  background-size: cover;
}

header {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
  z-index: 1000;
}

header button {
  all: unset;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag;
}

#close {
  background-color: red;
}

#minimize {
  background-color: yellow;
}

#maximize {
  background-color: lime;
}

.main{
  display: grid;
  grid-template-columns: 3fr 5fr 4fr; /* or however you want to split columns */
  grid-template-rows: auto;          /* let the rows grow with content */
  gap: 1rem;
  margin: 1rem;
}

.mainGrid {
  grid-column: 2;
  height: 20rem;
  width: auto;
  padding: 0.5rem;
  opacity: 0.85;
}

.selectOption{
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: #2c2c2c;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectOption:hover{
  background-color: #333;
}

.selectOptionTitle{
  display: flex;
  gap: 0.5 rem;
}

.selectOptionTitle :first-child {
  font-weight: 600;
}  
  .selectOptionTitle :nth-child(2) {
  font-weight: 400;
  font-size: 0.8rem;
}

.selectOptionChart{
  height: 4rem;
  width: 100%;
}

.selectOptionChart * {
  cursor: pointer;
}

/* New layout classes */

/* Power Management Section Styles */
.powerManagement {
  background-color: #2c2c2c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  grid-column: 6;
  height: 16rem;
  width: auto;
  opacity: 0.85;
}

.batteryStatus {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

.smallCharts{
  grid-column: 1 ;
  height: auto;
  width: auto;
  opacity: 0.85;
}

.title {
  font-size: 40px;
  font-family: Lucida;
}

h3 {
  color: #9370DB; /* Medium Purple */
  text-align: center;
  font-size: 3rem;
  text-shadow:
    -1px -1px 0px #ffffff,  
     1px -1px 0px #ffffff,  
    -1px  1px 0px #ffffff,  
     1px  1px 0px #ffffff;  
}

h2 {
  color: #00A0CC; /* Medium Purple */
  text-align: center;
  font-size: 2.5rem;
  text-shadow:
    -1px -1px 0px #ffffff,  
     1px -1px 0px #ffffff,  
    -1px  1px 0px #ffffff,  
     1px  1px 0px #ffffff;  
}

.resourceTitle{
  grid-row: 1 / 2;
  grid-column: 1 / 10;
}

.batteryStatus{
  font-size: 1.5rem;
  color: #9370DB;
  margin-top: 2rem;
}

.batteryStatusTitle{
  grid-row: 1 / 2;
  grid-column: 11 / 19;
}

.dynamicTableContainer {
  max-height: 300px;       /* Limits the height of the table section */
  overflow-y: auto;        /* Enables vertical scrolling within the container */
  background-color: #1C1C1C;
  padding: 1rem;
  border-radius: 0.5rem;
  margin:1rem;
  opacity: 0.85;
}

.dynamicTableSection {
  grid-column: 1 / 4; /* full width below everything else */
  grid-row: 2;       /* if you want it on a new row */
} 

.dynamicTable {
  width: 100%;
  border-collapse: collapse;
}

.dynamicTable th,
.dynamicTable td {
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: left;
}

.dynamicTable th {
  background-color: #2c2c2c;
  color: #fff;
}

.dynamicTable td {
  color: #fff;
}


.eventTitle{
  grid-row: 7 / 8;
  grid-column: 1 / 10;
}
